---
interface Props {
  id: string;
  title?: string;
}

const { id, title = "Video YouTube" } = Astro.props;
---

<div class="my-6 -mx-4 aspect-video overflow-hidden">
  <iframe
    src={`https://www.youtube-nocookie.com/embed/${id}`}
    title={title}
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    loading="lazy"
    class="h-full w-full border-0"
  ></iframe>
</div>
